@{
    //Bloco @ para inserir comandos C#

    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Desenvolvedor"]</p>


<address>
    <strong>More information in Linkedin: </strong> <a href="https://www.linkedin.com/in/j%C3%BAlio-c%C3%A9sar-1j997">https://www.linkedin.com/in/j%C3%BAlio-c%C3%A9sar-1j997</a>
</address>
